@charset "UTF-8";
#wrap {
	width: 700px;
	margin: auto;
}
header {
	background-color: #12A3B8;
	height: 100px;
}
.storeBox {
    border: 2px solid #12A3B8;
	border-radius: 10px;
}
footer {
	height: 100px;
}
a {
	color: inherit;
}
a:hover {
	color: inherit;
}
#noReviewBox {
	height: 150px;
}
#userNameBox {
	font-weight: bold;
}
#dateBox {
	color: gray;
}
#reviewBox {
	font-weight: bold;
}
#menuBox {
	background-color: #E1E1E1;
	border-radius: 5px;
	font-size: 14px;
}